body{
    width: 100%;
    height: 100%;
    background-color: #0F172A;
    height: 100%;
    top:0;
    color:white;
    left:0;
}
*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a{
    text-decoration: none;
    color:white;
}
#header a:hover{
    color:coral;
}
#main-container{
    width: 100%;
    height: 100%;
    display: block;
    display: flex;
}
#home-logo,#contact-logo,#about-logo{
    width: 100%;
    margin: 0 auto;
}
#header{
    font-weight: bold;
    top:0;
    left:0;
    background-color:#0F172A;
    display: flex;
    position: fixed;
    width: 100%;
    height:10%;
    margin-left: auto;
    margin-right: auto;
    justify-content:right; 
    align-items: center;
}
#home,#about,#contact{
    align-items: center;
    display: flex;
    margin-right:5%;
    width:10%;
    height:100%;
}
#logo-container{
    display: flex;
    margin: 0 auto;
    width:20%;
    align-items: center;
}
#main{
    margin-top:10%;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
    display: block;
    width: 90%;
}
#title{
    font-size: larger;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    display: block;  
}
#container{
    display: flex;
}
#container h1{
    font-size:50px ;
}
#photo-container{ 
    width:40%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    border:2px solid white;
    /* background-color:rgb(49, 189, 245); */
    border-bottom-left-radius: 25%;
    border-top-right-radius: 25%;
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
}
#photo{
    width: 100%;
}
#hey,#dev{
    font-size: 50px;
}
#hey,#titre{
  color:rgb(49, 189, 245);
  
}
#dev{
  color:coral;
}

#button-container{
    margin-top: 5%;
    display: flex;
    justify-content:flex-start;
}
#button{
   width:20%;
   margin-right:3%;
   height:40px;
   display: flex;
   align-items: center;
   justify-content: center;
   color:#0F172A;
   background-color:white;
   border:2px rgb(49,189,245) solid ;
   border-radius:10px;
}
#button:hover{
    background-color:rgb(49,189,245);
    color: white;
    border:2px solid white;
}
#other,#mycontact{
    margin-top:5%;
    width: 100%;
}
#skill-container{
  width: 80%;
  background-color: #ddd;
  border:0.5px solid white;
  border-radius: 10px;
}
#skills-container{
    width: 100%;
    display: flex;
    
}
#skills1,#skills2{
    width: 50%;
}
.skills {
    text-align: right;
    color: white;
    border-radius: 10px;
    border:0.5px solid white;
}
.html {
 width: 85%; 
 background-color:coral;
}
.js{
    width:65%;
    background-color: coral;
}
.node{
    width:60%;
    background-color: coral;
}
.mongodb{
    background-color: coral;
    width: 55%;
}
.react{
    background-color: coral;
    width:57%;
}
.sql{
    background-color: coral;
    width: 55%;
}
.figma{
    background-color: coral;
    width: 70%;
}
#logo{
    width: 30px;
    height: 30px;
}
.logo-container{
    display: flex;
    width:30%;
    /* background-color:#ddd; */
    margin-top:2%;
}
#list-contact{
    display: flex;
    width:70%;
}
#myprojects{
    margin-top: 5%;
}
#projects-container{
    width: 100%;
    display: flex;
    justify-content: left;
}
#project{
    display: block;
    width: 40%;
    margin-right: 5%;
    border:2px solid rgb(49, 189, 245);
    border-radius: 10px;
    padding: 3%;
}
#project:hover{
    background-color:#17223b;
    transition:0.5s ease-in-out;
    cursor: pointer;
}
#project-title{
    color:coral;
}
#description{
    font-weight: bold;
}
#technos{
    display: flex;
}
.logo{
    margin-right: 5%;
    width: 50px;
    height: 50px;
}
/* animation texte */
#dev>span{
    display: inline-block;
    animation:flip 2.6s infinite linear;
}
#dev>span:nth-child(even){
    color:white;
}
@keyframes flip{
    35%{
        transform:rotateX(360deg);
    }
    100%{
        transform:rotateX(360deg);
    }    
}
#dev>span:nth-child(2){
    animation-delay:0.3s;
}
#dev>span:nth-child(3){
    animation-delay:0.6s;
}
#dev>span:nth-child(4){
    animation-delay:0.9s;
}
#dev>span:nth-child(5){
    animation-delay:1.2s;
}
#dev>span:nth-child(6){
    animation-delay:1.5s;
}
#dev>span:nth-child(7){
    animation-delay:1.8s;
}
#dev>span:nth-child(8){
    animation-delay:2.1s;
}
#dev>span:nth-child(9){
    animation-delay:2.4s;
}
#dev>span:nth-child(10){
    animation-delay:2.7s;
}
#dev>span:nth-child(11){
    animation-delay:3s;
}
/* responsive */
@media screen and (max-width:855px){
    .logo{
        margin-right: 5%;
        width: 40px;
        height:40px;
    }
    #skill-container{
        width: 80%;
    }
    #hey,#dev,#et{
        font-size: 45px;
    }
}
@media screen and (max-width:770px){
    #home-logo,#contact-logo,#about-logo{
        visibility: hidden;
    }
    #welcome{
        font-size:15px;
    }
}
@media screen and (max-width:770px) and (min-width:660px){
    #header a{
        font-size: 85%;
    }
    .logo{
        width:35px;
        height:35px;
    }
    #hey,#dev,#et{
        font-size: 40px;
    }
    #button{
        width: 20%;
        height:35px;
        font-size:75%;
    }
    #titre{
        font-size:35px;
    }
}
@media screen and (min-width:550px)and (max-width:660px){
    .logo{
        width:30px;
        height:30px;
    }
    #header a{
        font-size:75%;
    }
    #button{
        font-size:70%;
        width: 18%;
        height:25px;
    }
    #hey,#dev,#et{
        font-size: 30px;
    }
    #titre{
        font-size:25px;
    }
    #skills1,#skills2{
        width: 100%;
    }
    #home,#about,#contact{
        width: 20%;
    }
}
@media screen and (max-width:550px){
    #header a{
        font-size:80%;
    }
    #skills-container{
        display: block;
    }
    #skills1,#skills2{
        width: 100%;
    }
    #hey,#dev,#et{
        font-size: 25px;
    }
    #titre{
        font-size:20px;
    }
    #home,#about,#contact{
        width: 20%;
    }
    #button{
        font-size:70%;
        height:25px;
        width: 30%;
    }
    .logo{
        width:30px;
        height:30px;
    }
    #projects-container{
        display: block;
    }
    #project{
        width: 90%;
        margin-top:5%;
    }
    #skill-container{
        width: 90%;
    }
    #list-contact{
        display: block;
    }
    .logo-container{
        margin-top: 5%;
    }
    #button-container{
        margin-top:0%;
    }

}