body{
    width: 100%;
    height: 100%;
    background-color: #0F172A;
    height: 100%;
    top:0;
    color:white;
    left:0;
}
*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a{
    text-decoration: none;
    color:white;
}
a:hover{
    color:coral;
}
#main-container{
    width: 100%;
    height: 100%;
    display: block;
    display: flex;
}
#home-logo,#contact-logo,#about-logo{
    width: 100%;
    margin: 0 auto;
}
#header{
    font-weight: bold;
    top:0;
    left:0;
    background-color:#0F172A;
    display: flex;
    position: fixed;
    width: 100%;
    height:10%;
    margin-left: auto;
    margin-right: auto;
    justify-content:right; 
    align-items: center;
}
#home,#about,#contact{
    align-items: center;
    display: flex;
    margin-right:5%;
    width:10%;
    height:100%;
}
#logo-container{
    display: flex;
    margin: 0 auto;
    width:20%;
    align-items: center;
}
#main{
    margin-top:10%;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
    display: block;
    width: 90%;
}
#title{
    font-size: larger;
    width:50%;
    display: block;  
}
#container{
    display: flex;
}
#photo-container{ 
    width:40%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    background-color:rgb(49, 189, 245);
    border-bottom-left-radius: 25%;
    border-top-right-radius: 25%;
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
}
#photo{
    width: 100%;
}
#hey,#titre{
  color:rgb(49, 189, 245);
}
#dev{
  color:coral;
}
#welcome{
    color:rgb(49, 189, 245);
}
#button-container{
    margin-top: 5%;
    display: flex;
    justify-content: center;
}
#button{
   width:30%;
   font-size:large;
   margin-left:3%;
   height:40px;
   background-color: white;
   border:1px rgb(49,189,245) solid ;
   border-radius:10px;
}
#button:hover{
    background-color:rgb(49,189,245);
    color: white;
}
#other,#mycontact{
    margin-top:5%;
    width: 100%;
}
#skill-container{
  width: 50%;
  background-color: #ddd;
}
#skills-container{
    width: 100%;
    display: flex;
}
#skills1,#skills2{
    width: 50%;
}
.skills {
    text-align: right;
    color: white;
}
.html {
 width: 85%; 
 background-color:coral;
}
.js{
    width:65%;
    background-color: coral;
}
.node{
    width:60%;
    background-color: coral;
}
.mongodb{
    background-color: coral;
    width: 55%;
}
.react{
    background-color: coral;
    width:57%;
}
.sql{
    background-color: coral;
    width: 55%;
}
.figma{
    background-color: coral;
    width: 70%;
}
  